@page {
    size: 216mm 356mm; /* Oficio */
    margin: 0;
}
html, body {
    width: 216mm;   /* Oficio */
    height: 356mm;
    margin: 0;
    padding: 0;
}

.hoja {
    position: relative;
    width: 216mm;   /* Oficio */
    height: 356mm;
    overflow: hidden;
    margin : 0;
    page-break-after: never;
    page-break-before: never;

}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 216mm;
    height: 356mm;
    display: block;
}

.Purchase_Order_PDF {
    position: absolute;
    white-space: nowrap;
    line-height: 1;
    font-size: 12pt;
    top: 52mm; /* Ajusta esta posición según sea necesario */
    left: 60mm; /* Ajusta esta posición según sea necesario */
   
}
.Material_Number_PDF {
    position: absolute;
    white-space: nowrap;
    line-height: 1;
    font-size: 12pt;
    top:    60mm; /* Ajusta esta posición según sea necesario */
    left: 60mm; /* Ajusta esta posición según sea necesario */
   
}

.EAN_PDF {
    position: absolute;
    white-space: nowrap;
    line-height: 1;
    font-size: 12pt;
    top: 68.3mm; /* Ajusta esta posición según sea necesario */
    left: 60mm; /* Ajusta esta posición según sea necesario */
   
}

.Delivery_Date_PDF {
    position: absolute;
    white-space: nowrap;
    line-height: 1;
    font-size: 12pt;
    top: 52mm; /* Ajusta esta posición según sea necesario */
    left: 166mm; /* Ajusta esta posición según sea necesario */
}

.Batch_PDF {
    position: absolute;
    white-space: nowrap;
    line-height: 1;
    font-size: 12pt;
    top: 86mm; /* Ajusta esta posición según sea necesario */
    left: 166mm; /* Ajusta esta posición según sea necesario */
}

.Quantity_PDF {
    position: absolute;
    white-space: nowrap;
    line-height: 1;
    font-size: 12pt;
    top: 77mm; /* Ajusta esta posición según sea necesario */
    left: 166mm; /* Ajusta esta posición según sea necesario */
}

.nombres{
    position: absolute;
    top: 96mm; /* Ajusta esta posición según sea necesario */
    left: 120mm; /* Ajusta esta posición según sea necesario */
    width: 50mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
}

.desplegable{
    position: absolute;
    width: 60mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
    font-size: 16pt;
}

.batches_PDF {
    position: absolute;
    top: 212mm;
    left: 22mm;
    width: 180mm;
    border: none;
    background: transparent;
    white-space: normal;
    word-wrap: break-word;
    font-size: 12pt;
    line-height: 1.2;
}
*{

    page-break-inside: never;
}
