input,
.debug-box{
    border:1 px dashed red;
    background: rgba(255,0,0,0.05);

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background: #ccc;
}

.hoja {
    position: relative;
    width: 216mm;
    height: 356mm;
    background: white;
    margin: 20px auto;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Purchase_Order {
    position: absolute;
    top: 51mm; /* Ajusta esta posición según sea necesario */
    left: 60mm; /* Ajusta esta posición según sea necesario */
    width: 40mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
    font-size: 12pt;

}

.Material_Number {
    position: absolute;
    top: 59.5mm; /* Ajusta esta posición según sea necesario */
    left: 60mm; /* Ajusta esta posición según sea necesario */
    width: 40mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
    font-size: 12pt;

}

.EAN {
    position: absolute;
    top: 68.3mm; /* Ajusta esta posición según sea necesario */
    left: 60mm; /* Ajusta esta posición según sea necesario */
    width: 40mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
    font-size: 12pt;

}



.Delivery_Date {
    position: absolute;
    top: 51mm; /* Ajusta esta posición según sea necesario */
    left: 165mm; /* Ajusta esta posición según sea necesario */
    width: 30mm; /* Ancho más largo para descripción */
    border: none;
    background: transparent;
    font-size: 12pt;
}

.Batch {
    position: absolute;
    top: 85.5mm; /* Ajusta esta posición según sea necesario */
    left: 165mm; /* Ajusta esta posición según sea necesario */
    width: 30mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
    font-size: 12pt;
}

.Quantity {
    position: absolute;
    top: 76.5mm; /* Ajusta esta posición según sea necesario */
    left: 165mm; /* Ajusta esta posición según sea necesario */
    width: 30mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
    font-size: 12pt;
}

.nombres{
    position: absolute;
    top: 95.5mm; /* Ajusta esta posición según sea necesario */
    left: 120mm; /* Ajusta esta posición según sea necesario */
    width: 30mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
}

.desplegable{
    position: absolute;
    width: 60mm; /* Ajusta el ancho según sea necesario */
    border: none;
    background: transparent;
    font-size: 14pt;
}
.batches{
    position: absolute;
    top: 212mm; /* Ajusta esta posición según sea necesario */
    left: 20mm; /* Ajusta esta posición según sea necesario */
    width: 180mm;
    height: 20m;
    /* Ajusta el ancho según sea necesario */
    border: none;   
    background: transparent;
    font-size: 12pt;
}

.btn-consultar{
    position: relative;
    top: -1380px;
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 22px;
    text-align: center;
    border-style: hidden;
    color: white;
    background-color: rgb(96, 148, 211);
    font-size: 16px;
    
}


.Descargar{
    position: relative;
    top: -1372px;
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 22px;
    text-align: center;
    border-style: hidden;
    color: white;
    background-color: rgb(96, 148, 211);
    font-size: 16px;
    

}